extends layout

block content
  h1 Category List
  div.container
    ul.list-group
      each category in category_list
        li.list-group-item
          a(href=category.url) #{category.name}
          p #{category.description}
    a.btn.btn-primary(href='/category/create') Create New Category
